* {
  box-sizing: border-box;
}

body {
  background-color: #66ccff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

 button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 10px;
  margin: 10px;
}

.title {
  margin-top: 0%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: -50px 20px 20px;
}

.timer-container h2 {
  margin: 0;
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
  width: 50px;
}

.clock-container {
 border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  width: 400px;
}

.clock-container h1 {
  margin: 0;
}

.clock-container span {
  font-size: 60px;
}